In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-09-24 15:28:03,-54.8000,-68.3000,55.06,50,75,12.66
1,1,Cape Town,ZA,2021-09-24 15:25:41,-33.9258,18.4232,66.61,59,0,16.11
2,2,Rikitea,PF,2021-09-24 15:23:28,-23.1203,-134.9692,73.47,78,100,21.09
3,3,Arraial Do Cabo,BR,2021-09-24 15:28:03,-22.9661,-42.0278,76.96,43,0,25.32
4,4,Dikson,RU,2021-09-24 15:28:04,73.5069,80.5464,35.49,82,100,14.29

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(25)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Arraial Do Cabo,BR,2021-09-24 15:28:03,-22.9661,-42.0278,76.96,43,0,25.32
7,7,Sao Filipe,CV,2021-09-24 15:28:05,14.8961,-24.4956,79.03,76,57,6.15
10,10,Ewa Beach,US,2021-09-24 15:28:06,21.3156,-158.0072,76.98,77,1,11.01
21,21,Bonthe,SL,2021-09-24 15:28:09,7.5264,-12.5050,84.87,66,57,10.78
23,23,Bengkulu,ID,2021-09-24 15:28:10,-3.8004,102.2655,77.27,88,94,3.91
30,30,Hithadhoo,MV,2021-09-24 15:28:12,-0.6000,73.0833,81.91,69,100,7.02
31,31,El Tigre,VE,2021-09-24 15:28:13,8.8875,-64.2454,86.81,55,54,7.87
36,36,Tutoia,BR,2021-09-24 15:28:14,-2.7619,-42.2744,89.58,52,2,14.72
38,38,Atuona,PF,2021-09-24 15:28:15,-9.8000,-139.0333,77.59,73,58,18.52
39,39,Moroni,KM,2021-09-24 15:28:15,-11.7022,43.2551,80.60,74,40,12.66
40,40,Buala,SB,2021-09-24 15:25:11,-8.1450,159.5921,79.14,83,83,3.29
43,43,Kavieng,PG,2021-09-24 15:28:16,-2.5744,150.7967,82.24,76,52,14.34
46,46,Itoman,JP,2021-09-24 15:28:17,26.1247,127.6694,80.62,73,20,9.22
54,54,Kudahuvadhoo,MV,2021-09-24 15:28:20,2.6708,72.8944,78.40,78,100,7.72
55,55,Jutai,BR,2021-09-24 15:28:20,-5.1833,-68.9000,89.87,53,88,3.53
58,58,Bima,ID,2021-09-24 15:28:21,-8.4667,118.7167,76.15,89,42,3.71
63,63,Keetmanshoop,NaN,2021-09-24 15:28:23,-26.5833,18.1333,85.12,4,0,7.72
65,65,San Policarpo,PH,2021-09-24 15:28:23,12.1791,125.5072,82.29,82,46,8.39
77,77,Kasongo-Lunda,CD,2021-09-24 15:28:28,-6.4667,16.8167,88.30,42,100,7.16
78,78,Yangjiang,CN,2021-09-24 15:28:28,21.8500,111.9667,78.08,90,18,6.51
84,84,Bubaque,GW,2021-09-24 15:28:30,11.2833,-15.8333,82.29,72,73,4.94
94,94,Panaba,MX,2021-09-24 15:28:33,21.2833,-88.2667,84.00,70,91,2.15
97,97,Miri,MY,2021-09-24 15:28:34,4.4148,114.0089,78.94,94,40,2.30
100,100,Sassandra,CI,2021-09-24 15:28:35,4.9500,-6.0833,83.41,72,35,10.45
106,106,Gretna,US,2021-09-24 15:28:37,29.9147,-90.0540,75.20,55,1,4.00

In [27]:
preferred_cities_df.count()

City_ID       183
City          183
Country       182
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3   Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
7        Sao Filipe      CV     79.03  14.8961  -24.4956
10        Ewa Beach      US     76.98  21.3156 -158.0072
21           Bonthe      SL     84.87   7.5264  -12.5050
23         Bengkulu      ID     77.27  -3.8004  102.2655
30        Hithadhoo      MV     81.91  -0.6000   73.0833
31         El Tigre      VE     86.81   8.8875  -64.2454
36           Tutoia      BR     89.58  -2.7619  -42.2744
38           Atuona      PF     77.59  -9.8000 -139.0333
39           Moroni      KM     80.60 -11.7022   43.2551

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
    
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
7,Sao Filipe,CV,79.03,14.8961,-24.4956,Hotel Xaguate
10,Ewa Beach,US,76.98,21.3156,-158.0072,Uncle Junior Robert
21,Bonthe,SL,84.87,7.5264,-12.5050,Bonthe Holiday Village
23,Bengkulu,ID,77.27,-3.8004,102.2655,Grage Hotel Bengkulu
30,Hithadhoo,MV,81.91,-0.6000,73.0833,Scoop Guest House
31,El Tigre,VE,86.81,8.8875,-64.2454,Hotel Santa Cruz
36,Tutoia,BR,89.58,-2.7619,-42.2744,Pousada Guará's
38,Atuona,PF,77.59,-9.8000,-139.0333,Villa Enata
39,Moroni,KM,80.60,-11.7022,43.2551,Hotel les Arcades

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))